# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/

# Models
*.pkl
*.joblib
*.h5
*.keras

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.synctex.gz
*.toc